<ion-view view-title="{{params.content}}">
    <ion-content>
        <div class="card">
            <div class="item item-divider list-top">
                Check In
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <form ng-submit="submit()">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Spieleranzahl
                            </div>
                            <select ng-model="anzahl" ng-options="option.wert for option in optionen"></select>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Anfangszeit
                            </div>
                            <ionic-time-picker etime="slots[0].epochTime" format="12" step="15">    
                                {{slots[0].epochTime}}
                            </ionic-time-picker>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Spieldauer (Stunden)
                            </div>
                            <select ng-model="dauer" ng-options="option.wert for option in optionen"></select>
                        </label>
                        <button id="checkin-btn" class="button button-small button-dark">Submit</button>
                    </form>
                    {{list}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
