<ion-view id="sunhhoops-view" view-title="Streetball in Hannover">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div id="logo-card" class="card">
            <div id="logo" class="image">
                <img src="img/logo.png" alt="logo" />
            </div>
        </div> 
        <ion-list class="sunhoops-list padding">
            <div class="item item-divider list-top"><h2>Was läuft auf den Courts</h2></div>
            <ion-item class="sunhoops-item" ng-repeat="court in courts" href="#/app/home/{{court.objectId}}/{{court.name}}">
                {{court.name}}
                <span class="badge badge-assertive">{{court.anzahl}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
